body {
	background-color: white;
	color: rgb(15, 20, 25);
	}
a:link {
	color: rgb(15, 20, 25);
	text-decoration: none;
	}
a:hover {
	background-color: rgba(15, 25, 20, 0.1);
	border-radius: 10px;
	}
.nome{
	color: rgb(15, 20, 25);
}
.usuario{
	color: rgb(83, 100, 113);
}
.descricao{
	color: rgb(15, 20, 25);
}
.local{
	color: rgb(83, 100, 113);
}
